<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="admin-container">
        <h2>Admin Login</h2>
        <form class="admin-login-form" method="post" action="/admin">
            <!-- Form fields for login -->
            <input type="text" name="username" placeholder="andrei">
            <input type="password" name="password" placeholder="admin">
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>

