<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iUmor Central</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to iUmor Central!</h1>
    </header>
    <nav>
        <ul>
            <li><a href="category/police">Police Jokes</a></li>
            <li><a href="category/blonde">Blonde Jokes</a></li>
            <li><a href="category/doctor">Doctor Jokes</a></li>
            <li><a href="category/lawyer">Lawyer Jokes</a></li>
            <li><a href="category/programmer">Programmer Jokes</a></li>
            <li><a href="category/animal">Animal Jokes</a></li>
            <li><a href="/admin">Admin Login</a></li> <!-- Admin Login Link -->
        </ul>
    </nav>
    <footer>
        <p>&copy; 2024 iUmor Central</p>
    </footer>
</body>
</html>

